body {
    font-family: Arial, sans-serif;
    font-size: 1vw; 
    width: 100%;
    text-align: left;
    color:#333;
    margin: 0;
}

#appendices h1 {
    font-size: large;
}
#appendices a {
    font-size: large;
}
#appendices{
    margin-bottom: 5vw;
}

img, iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    width: 50%;

}

h4{
    font-style: italic;
    text-align: center;
    font-size: large;
}

h1, h2, h4, p, code{
    padding-left: 10vw;
    padding-right: 10vw;
}


p{
    font-size: large;
    line-height: 1.5;
}

ol {
    list-style-position: outside;
    margin: 0;
    padding-left: 15vw;
    padding-right: 10vw;
    font-size: large;
}
ol li{
    padding-bottom: 2vw;
}
ol li p{
    margin:0;
    padding:0;
}

.title h1{
    font-size:4vw;
    text-align: center;
}
.title h2{
    font-size:2vw;
    text-align: center;
}
img .title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    width: 75%;
}


/*----------------- navbar ------------------- */
.navbar {
    background-color: #fff;
    padding: 1.5vw 3vw;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
    
    /* border: 2px solid red; */
}

.nav-links {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    flex:1;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align:center;
    transition: transform 0.1s ease-in-out;
}
.nav-links li:hover{
    transform:scale(1.1);
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}